<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amsu.vitaliy.finalproject_vitalyi_rudoy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NirvanaActivity"
            android:label="Nirvana" />
        <activity
            android:name=".OceanActivity"
            android:label="Океан Ельзи" />
        <activity
            android:name=".OffspringActivity"
            android:label="The Offspring" />
        <activity android:name=".BeatlesActivity"
            android:label="Beatles"/>
        <activity android:name=".LanaDelReyActivity"
            android:label="Lana Del Rey"></activity>
    </application>

</manifest>
